#paragraph3 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
}

.PhonePositioning {
    width: 294px;
    height: 548px;
}